/* All */

form {
  display: flex;
  flex-direction: column;
}

/* EMPLOYEE */
#logo {
  width: 30%;
}

.vehicleImg img {
  width: 100%
}

.vehicleImg {
  padding: 0.5rem;
}

.employeeButton {
  width: 40%;
  margin-bottom: 0.5rem;
}

/* EMPLOYER */

#navLogo {
  width: 50%;
}