@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

/* All */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form, form div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

/* EMPLOYEE */
#logo {
  width: 30%;
}

.vehicleImg img {
  width: 100%
}

.vehicleImg {
  padding: 0.5rem;
}

.employeeButton {
  width: 40%;
  margin-bottom: 0.5rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* MODALS */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position:fixed;
  background: white;
  color: #000;
  width: 19rem;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
}

/* EMPLOYER */

/* Search Button  */

.searchButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.searchButton > span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

/* ****************** */
/* All Vehicles */
.allVehiclesEmployesLogs {
  margin: 0.5rem 0;
}

.allVehiclesEmployesLogs table {
  margin: 0 auto;
}

.allVehiclesEmployesLogs table tbody tr td {
  font-size: 0.7rem;
  padding: 0.25rem 0.6rem;
}

.allVehiclesEmployesLogs table tbody tr td:nth-child(4) {
  padding: 0.25rem 1.5rem 0.25rem 0rem;
  border-right: 1px solid #000000;
}

.allVehiclesEmployesLogs table tbody tr td:nth-child(6) {
  padding: 0.25rem 0.2rem 0.25rem 0rem;
  border-right: 1px solid #000000;
}

.allVehiclesEmployesLogs table tbody tr td:nth-child(3),
.allVehiclesEmployesLogs table tbody tr td:nth-child(5),
.allVehiclesEmployesLogs table tbody tr td:nth-child(4),
.allVehiclesEmployesLogs table tbody tr td:nth-child(6) {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}




.allVehiclesEmployesLogs table tbody tr td:nth-child(3), .allVehiclesEmployesLogs table tbody tr td:nth-child(5) {
  font-weight: bold;
}

.allVehiclesEmployesLogs table tbody tr {
  padding: 0.5rem 0;
}

.allVehiclesEmployesLogs table tbody tr:nth-child(even) {
  background-color: #e7e9eb80;
}

.allVehiclesEmployesLogs table tbody tr td:nth-child(2), .allVehiclesEmployesLogs table tbody tr td:nth-child(1) {
  border: 1px solid #000000;
}

.allVehiclesEmployesLogs table tbody tr td:nth-child(2) {
  font-size: 0.9rem;
}

/* ******************* */

#navLogo {
  width: 50%;
}

.employer-table * {
border: 1px solid black;
text-align: center;
}

.employer-table-dates-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.employer-table-dates-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employer-table-dates-container div input {
  text-align: center;
}

/* Employee log entry page */

form input{
  width: 50%;
}

.logEntryButtons {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0;
  justify-content: space-around;
}

/* pie Graph styling */
.pieContainer {
  width: 70%;
  height: 250px;
  /* display:none; */
}

.pieContainer > h4 {
  text-align: center;
}

/* bar Graph styling */

.barContainer {
  width: 70%;
  height: 250px;
}

